{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>这是个神奇的房型校验网站</title>
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/table.css' %}" rel="stylesheet">
        <link href="{% static '/css/textareafullscreen.css' %}" rel="stylesheet">
    </head>

<body>


<div id="load" display="none">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id='con' class="container">
    <textarea id="hotelList"></textarea>
    <button id='refresh' class="btn btn-primary">刷新</button>
</div>
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jsontotable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.textareafullscreen.js' %}"></script>
<script ype="text/javascript">
    $(document).ready(function () {
        $('#hotelList').textareafullscreen();

            $('#refresh').click(function () {
                $('#load').addClass('show');
                var hotellist=$('#hotelList').val()
                $.ajax({
                    type: 'post',
                    url: '/getHotelRate',
                    dataType: 'text',
                    data:hotellist,
                    success: function (data) {

                        $('#load').removeClass('show')
                        $('#con').find('#jsontotable-str').remove();
                        var table = $('<div id="jsontotable-str" class="jsontotable"></div>');
                        $('#con').append(table);
                        var arr = eval(data);
                        $.jsontotable(arr, {
                            id: "#jsontotable-str",
                            tableClassName: "table table-hover",
                            theadClassName: 'aaa',
                            tbodyClassName: 'bbb'

                        })
                        $('.color-0').parent().parent().css('background-color', '#F3FBFD');
                        $('.color-1').parent().parent().css('background-color', 'rgb(207, 222, 222)');
                    },
                    error: function (text) {
                        alert(text)
                    }
    });


    })
    ;
    })
    ;

</script>
</body>

</html>