{% load staticfiles %}
<!doctype html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>酒店报价查询</title>
		<!-- Include the FontAwesome CSS if you want to use feedback icons provided by FontAwesome -->
		<!--<link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" />-->
		<link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static '/dist/css/formValidation.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/default.css' %}">
		<link rel="stylesheet" href="{% static '/vendor/bootstrap-datetimepicker.min.css' %}" />
        <link href="{% static '/css/table.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static '/css/textareafullscreen.css' %}" />
		<style type="text/css">
		/* Override to make the feedback icons shown properly */
			
			.form-horizontal .has-feedback .form-control-feedback {
				top: 0;
				right: -15px;
			}
			
			.form-horizontal .has-feedback .input-group .form-control-feedback {
				top: 0;
				right: -30px;
			}
			

		
		</style>
		<!--[if IE]>
		<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	</head>

	<body>
    <div id="load" display="none">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
    </div>


		<div class="container">
			<div class="row">
				<!-- form: -->
				<section>

					<div class="page-header">
						<h2>世上无难事，只要肯放弃</h2>
					</div>

					<div id="defaultForm"  class="form-horizontal col-lg-offset-0" >

						<!-- datetime picker -->
						<div class="form-group">
							<label class="col-lg-2 control-label">Check_in</label>
							<div class="col-lg-6">
								<div class="input-group date">
									<input id='Check_in' type="text" class="form-control" name="Check_in" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Check_out</label>
							<div class="col-lg-6">
								<div class="input-group date">
									<input id='Check_out' type="text" class="form-control" name="Check_out" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>

							
						</div>
						
						

						<div class="form-group">
							<label class="col-lg-2 control-label">Room_nums</label>
							<div class="col-lg-4">
								<input id='Room_nums' type="text" class="form-control" name="Room_nums" />
							</div>
							<label class="col-lg-2 control-label">Adult_nums</label>
							<div class="col-lg-4">
								<input id='Adult_nums' type="text" class="form-control" name="Adult_nums" />
							</div>
						</div>


						<div class="form-group">
							<label class="col-lg-2 control-label">Hotel_id<br>分隔符可以是<br>换行符或逗号</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="4" name="Hotel_id" id='Hotel_id'></textarea>
							</div>

						</div>
						<div class="form-group">
							<div class="col-lg-8 col-lg-offset-11">
								<button id='sub' type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</div>

				</section>
				<!-- :form -->
			</div>
		</div>

		<!--</div>-->

		<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'dist/js/formValidation.js' %}"></script>
		<script type="text/javascript" src="{% static 'dist/js/framework/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'dist/js/language/zh_CN.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/moment.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/bootstrap-datetimepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.jsontotable.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.textareafullscreen.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function() {


                $('.date').datetimepicker({
                    format: 'YYYY-MM-DD'
                });

                $('#defaultForm').formValidation({
                    message: 'This value is not valid',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        Check_in: {
                            validators: {
                                notEmpty: {
                                    message: 'The date is required and cannot be empty'
                                },
                                date: {
                                    format: 'YYYY-MM-DD'
                                }
                            }
                        },
                        Room_nums: {
                            message: 'The Adult_nums is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The Adult_nums is required and cannot be empty'
                                },
                                stringLength: {
                                    min: 1,
                                    max: 1,
                                    message: '朋友当钱不是钱？10间房以内！'
                                },
                                regexp: {
                                    regexp: /^[1-9]$/,
                                    message: '只能填数字好吗？'
                                }
                            }
                        },
                        Check_out: {
                            validators: {
                                notEmpty: {
                                    message: 'The date is required and cannot be empty'
                                },
                                date: {
                                    format: 'YYYY-MM-DD'
                                }
                            }
                        },

                        Hotel_id: {
                            message: 'The Hotel_id is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The Hotel_id is required and cannot be empty'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 600,
                                    message: 'The Hotel_id must be more than 1 and less than 2 characters long'
                                },
                                regexp: {
                                    regexp: /^[0-9,，\r\n]+$/,
                                    message: 'The Hotel_id can only consist of 数字逗号换行'
                                }
                            }
                        },
                        Adult_nums: {
                            message: 'The Adult_nums is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The Adult_nums is required and cannot be empty'
                                },
                                stringLength: {
                                    min: 1,
                                    max: 1,
                                    message: '兄弟，保重身体啊，10个人以内就好了'
                                },
                                regexp: {
                                    regexp: /^[1-9]$/,
                                    message: '数学体育老师教的？只能数字！'
                                }
                            }
                        }
                    }
                });

                $('input[name="Check_in"]')
                    .bind('input blur dp.change dp.show', function (e) {
//										
                        $('#defaultForm').data('formValidation').revalidateField('Check_in');
                        //						$('#defaultForm').data('formValidation').revalidateField('Check_out');
                        // You also can call it as following:
                        // $('#defaultForm').formValidation('revalidateField', 'datetimePicker');
                    });
                //
                $('input[name="Check_out"]')
                    .on('input blur dp.change dp.show', function (e) {


                        $('#defaultForm').data('formValidation').revalidateField('Check_out');
                        // You also can call it as following:
                        // $('#defaultForm').formValidation('revalidateField', 'datetimePicker');
                    });
                $('#Hotel_id').textareafullscreen();

                $('#sub').click(function () {

                    $('#load').addClass('show');
                    var hotellist = $('#hotelList').val()
                    $.ajax({

                        type: 'post',
                        url: '/getHotelRate',
                        dataType: 'text',
                        data: {'Hotel_id':$('#Hotel_id').val(),'Check_in':$('#Check_in').val(),'Check_out':$('#Check_out').val(),'Adult_nums':$('#Adult_nums').val(),'Room_nums':$('#Room_nums').val()},
{#                        traditional: true,#}
                        success: function (data) {

                            $('#load').removeClass('show')
                            $('.container').find('#jsontotable-str').remove();
                            var table = $('<div id="jsontotable-str" class="jsontotable"></div>');
                            $('.container').append(table);
                            var arr = eval(data);
                            $.jsontotable(arr, {
                                id: "#jsontotable-str",
                                tableClassName: "table table-hover",
                                theadClassName: 'aaa',
                                tbodyClassName: 'bbb'

                            })
                            $('.color-0').parent().parent().css('background-color', '#F3FBFD');
                            $('.color-1').parent().parent().css('background-color', 'rgb(207, 222, 222)');
                        },
                        error: function (text) {
                            alert(text)
                        }



                        {##}
                        {#					$.ajax({#}
                        {#						url: "http://127.0.0.1:8000/getHotelRate",#}
                        {#						type: "post",#}
                        {#						data: $('#defaultForm').serialize(),#}
                        {#						dataType: 'JSON',#}
                        {#						traditional: true,#}
                        {#						success: function(d) {#}
                        {#							location.reload() //刷新#}
                        {#							//							location.href = "某个地址"#}
                        {##}
                        {#						}#}
                        {##}
                        {#					});#}
                    })

                })
            })
		</script>
	</body>

</html>